---
import ThemeSwitch from "@/components/widgets/ThemeSwitch.astro";
import Container from '@/components/layout/Container.astro';
import Link from '@/components/ui/Link.astro';
import Button from "@/components/ui/Button.astro"
import { siteConfig } from "@/site.config";
const { siteLogo, nav, settings } = siteConfig;
const currentPath = Astro.url.pathname;
---

<header class="fixed top-0 w-full h-[76px] border-b border-ui-primary z-50 backdrop-blur-lg">

  <!-- Mobile menu -->
  <div id="navMenu" class="fixed bg-base-primary shadow-sm h-full w-full text-xl sm:w-1/2 sm:text-2xl transform transition-transform duration-300 -translate-x-full z-50">
    <div class="flex flex-col min-h-screen w-full bg-base-primary">
      <div class="items-center justify-center">
        <!-- Logo -->
        <div class="flex items-center justify-between font-medium px-6 py-2 h-[76px] border-b border-ui-primary">
          <a class="flex items-center gap-2" href="/">
            <h3 class="font-bold">{siteConfig.title}</h2>  
          </a>
          <div id="closeBtn" class="text-content-primary hover:cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={2} stroke="currentColor" class="size-6">
              <path strokeLinecap="round" strokeLinejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>                  
          </div>
        </div>
        <!-- Links -->
        <div class="flex flex-col gap-3 px-2 py-8">
          {
            nav.map((item) => (
              <Link 
                href={item.href} 
                class={`px-4 py-2 text-sm hover:text-${settings?.accentColor}-high ${
                  currentPath === item.href
                    ? `text-${settings?.accentColor} font-semibold`
                    : 'text-content-primary' }`
                } 
                aria-current={Astro.url.pathname === item.href ? 'page' : undefined}>{item.title}</Link>
            ))
          }
        </div>
        <!-- Subscribe button -->
          {settings?.showNewsletterSignup && (
            <Button href="/" variant="primary" class="px-4">
              Subscribe Now
            </Button>
          )}
      </div>
    </div>
  </div>

  <!-- Main Navigation -->
  <Container outerClass="flex flex-col max-w-4xl h-full">
    <nav class="flex h-full w-full">
      <!-- Logo -->
      <a class="flex items-center gap-2" href="/">
        <h3 class="font-bold">{siteConfig.title}</h3>
      </a>
      
      
      <!-- Centered Links (only visible on sm and up) -->
      <div class="hidden sm:flex flex-1 justify-center items-center gap-4 text-base">
        {
          nav.map((item) => (
            <Link 
              href={item.href} 
              class={`px-4 py-2 text-sm hover:text-${settings?.accentColor}-high ${
                currentPath === item.href
                  ? `text-${settings?.accentColor} font-semibold`
                  : 'text-content-primary' }`
              } 
              aria-current={Astro.url.pathname === item.href ? 'page' : undefined}>{item.title}</Link>
          ))
        }
      </div>

      <!-- Right section -->
      <div class="flex items-center gap-3 ml-auto">
        <!-- Theme Switcher (always visible) -->
        <ThemeSwitch />

        <!-- Mobile nav button (only on small screens) -->
        <div id="navBtn" class="sm:hidden text-content-primary hover:cursor-pointer">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={2} stroke="currentColor" class="size-6">
            <path strokeLinecap="round" strokeLinejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12" />
          </svg>
        </div>
      </div>
    </nav>
  </Container>
  
  <!-- Script to open mobile menu drawer -->
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const navBtn = document.getElementById("navBtn");
      const navMenu = document.getElementById("navMenu");
      const closeBtn = document.getElementById("closeBtn");

      navBtn.addEventListener("click", function () {
        navMenu.classList.remove("-translate-x-full");
        navMenu.classList.add("translate-x-0");
        document.body.classList.add("overflow-hidden");
      });

      closeBtn.addEventListener("click", function () {
        navMenu.classList.remove("translate-x-0");
        navMenu.classList.add("-translate-x-full");
        document.body.classList.remove("overflow-hidden");
      });
    });
  </script>
</header>